*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}
body{
    background-color: #f9f9f3;
    color: black;
}
header{
    background-color: #ecece9;
}
header ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1em;
    padding: 1.5em  1em;
    font-size: 1.2em;
}
header ul li a{
    cursor: pointer;
    color: black;
}
header ul li a:hover {
  text-decoration: underline #f40612 2px;
  text-underline-offset: 5px;
}


.navLogo img{
    width:5em
}
.navLogo{
    position: absolute;
    top: 0.2em;
    left:0.3em;
}


.hamburger-Menu{
    display: none;
}


.promo-banner {
    background-color: #e41f1e;
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
}
.promo-banner strong {
    font-weight: bold;
    letter-spacing: 0.1em;
}
.promo-banner a {
    color: white;
    text-decoration: underline;
}
.promo-text {
    display: inline-block;
    animation: scroll-left 15s linear infinite;
}
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}



#hero-Image{
    background-image: url("Images/heroimg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 65em;
    text-align: center;
}
#hero-Text{
    padding-top: 11.9em;
    font-size: 3em;
    font-weight: bolder;
    color:#f40612;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 2.2px 1.3px black;
}
#hero-Button{
    font-size: 0.4em;
    letter-spacing: 0.2em;
    border: solid 2.4px black;
    padding: 0.4em;
    border-radius: 3em;
}
#hero-Button:Hover{
    background-color: #f4081280;
}

#hero-Button:active{
    transform: translate(0,2px);
}



footer {
    background-color: #ecece9;
    color: black;
    padding: 1.2em 1.2em 0.8em;
}
.footer-content {
    max-width: 75em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em 0 ;
}
.footer-nav ul {
    display: flex;
    gap: 2.5em;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-nav a {
    color:black;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.3s ease;
}
.footer-nav a:hover {
    color: #f40612;
}
.social-links {
    display: flex;
    gap: 1.5em;
    padding: 0.6em 0 0;
}
.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links img {
    width: 1.7em;
    height: 1.7em;
}
.copyright {
    font-size: 0.8em;
    margin: 0.2em 0 0;
    text-align: center;
}






/*---- RESPONSIVE DESIGNS ----*/

@media screen and (max-width:960px) {
#hero-Image{
    height: 39em;
    margin-top: 0em;
    text-align: center;
}
#hero-Text{
    padding-top: 9.6em;
    font-size: 2.5em;
}

footer {
    padding: 2em 1.2em 1.5em;
}

}

@media screen and (max-width: 852px) {

body{
    background-color:#ecece9;
}


.navLogo img{
    width:4em;
}
.navLogo{
    top: 0.1em;
}
.hamburger-Menu{
    display: block;
    position: absolute; 
    top: 0.6em;
    right: 0.5em;
    width: 3em;
}
header ul{
    padding: 10em 0 0 0;
}
.navbar-Menu{
    height: 100%;
    width: 100%;
    display: none;
    top:0;
    right:0;
    position: absolute;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    gap: 2.5em;
    backdrop-filter: blur(2px);
    background-color: #FFFFFF80;
}
.navbar-Menu.mobile-menu{
    display:flex;
}


.promo-banner {
    font-size: 0.8em;
    margin-top: 7em;
    padding: 0.7em;
}


#hero-Image{
    margin-top: 0em;
    text-align: center;
    height: 35em;
}
#hero-Text{
    padding-top: 9.8em;
    font-size: 2.2em;
    font-weight: bolder;
    color:#f40612;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 1px black;
}



footer {
    padding: 2.7em 1.2em 0em;
}
    
.footer-nav ul {
    gap: 1.5em;
}
    
.footer-nav a {
    font-size: 0.9em;
}
    
.social-links {
    gap: 1.2em;
}
    
.social-links img {
    width: 1.6em;
    height: 1.6em;
}
    
.copyright {
    font-size: 0.8em;
}
}


@media screen and (max-width:729px){
#hero-Image{
height: 29em;
}
#hero-Text{
    padding-top: 7.7em;
    font-size: 2.2em;
}

}


/* HERO TEXT RESIZE*/
@media screen and (max-width: 592px) {
#hero-Image{
height: 27em;
}
#hero-Text{
    padding-top: 9.6em;
    font-size: 1.7em;
}
}

@media screen and (max-width: 545px) {
#hero-Image{
height: 19em;
}
#hero-Text{
    padding-top: 8.2em;
    font-size: 1.4em;
}
}